h6{
  text-align: center;
  font-size: 50px;
  margin: 30px;
}


.lists-right{
  text-align: center;
  margin: 50px 50px 30px 50px ;
}

.Logout{
  margin-bottom: 10px;
}
.Logout:hover{
  opacity: 0.5;
}

.logout{
  border: black 1px solid;
  padding: 5px;
  background-color:slategrey;
  text-decoration: none;
}

.Supermarket{
  margin-bottom: 10px;
}
.Supermarket:hover{
  opacity: 0.5;
}

.supermarket{
  border: black 1px solid;
  padding: 5px;
  background-color:powderblue;
  text-decoration: none;
}

.Exist{
  margin-bottom: 10px;
}
.Exist:hover{
  opacity: 0.5;
}

.exist{
  border: black 1px solid;
  padding: 5px;
  background-color:sandybrown;
  text-decoration: none;
}

.Wish{
  margin-bottom: 10px;
}
.Wish:hover{
  opacity: 0.5;
}

.wish{
  border: black 1px solid;
  padding: 5px;
  background-color: plum;
  text-decoration: none;
}
