.item1-contents{
  text-align: center;
  margin: 0 auto;
}

.list-list{
  display: flex; 
}

.show-list{
  margin: 10px auto;
}
.edit1-destroy1{
  margin: 0 auto;
}

.listlistlist{
  border: solid 1px black;
  margin: 10px auto;
  width: 50%;
}

.new-button{
  text-align: center;
  margin: 20px;
  
  background-color: gainsboro;
  display: inline-block;
  padding: 5px;
  cursor: pointer;

  transition-property: border-radius;
  transition-duration: 0.2s;
}
.new-button:hover{
  opacity: 0.5;
  border-radius: 50%;
}

h1{
  text-align: center;
  color: pink;
}

.items-contents{
  border-top: black 1px solid;
}

.listlistlist{
  background-color: white;
  position: relative;
}

.expired{
  position: absolute;
  width: 35%;
  top: 15%;
  left: 0%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-20deg);
}

.today{
  position: absolute;
  width: 35%;
  top: 15%;
  left: 0%;
  text-align: center;
  background-color: goldenrod;
  transform: skewY(-20deg);
}

.items-contents{
  height: 60vh;
}

